---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>

	<style>
		.titulo-principal {
			font-size: 6rem;
			margin-right:5%;
		}
		.hero {
			padding:0 5% 0 5%;
			display: flex;
			justify-content: space-around;
		}
		.contenedor {
			width:auto;
			margin:auto;
		}

	</style>
	<body>
		
		<div class="hero">
			<h1 class="titulo-principal">Andrés <br> Carignano</h1>
			<div class="contenedor">

				<h2>Desarrollo Web</h2>

				<p>Servicio de Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum placeat cumque consequuntur dolore incidunt expedita deleniti, earum cum ut quas aspernatur delectus nesciunt optio aliquam! Eligendi blanditiis dignissimos quam obcaecati.</p>
				</div >
			<div class="contenedor">

				<h2>Desarrollo Web</h2>
	
				<p>Servicio de Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum placeat cumque consequuntur dolore incidunt expedita deleniti, earum cum ut quas aspernatur delectus nesciunt optio aliquam! Eligendi blanditiis dignissimos quam obcaecati.</p>
				</div>
		
		</div>
		
		
		
	</body>
</html>
